html, body {
  margin: 0;
  padding: 0;
  background-color: #fff;
  color: #4f5758;
  font-family: 'Lato', sans-serif !important;
}

.jumbotron {
   background: url('../images/landing/1.jpg') no-repeat center center;
   background-size: cover;
   background-color: transparent;
   height: 82vh;
}

/*to do*/
/*.container-fluid{
    padding-left: 0;
    padding-right: 0;
}*/

.container{
  max-width: 100%;
}

/*Header*/

.header{
  color:#fff;
}

.header .logo{
  height:2.8vw;
  width:10vw;
}

.header ul{
  list-style-type:none;
}

.header li{
  display: inline-block;
	margin-left: 1.2vw;
 	font-weight: bold;
  margin-top: 1.86vh;
  text-transform: uppercase;
  text-decoration: underline;
}

.header a{
  color:#fff;
  font-size: 1.2vw;
}

.header .login-modal-lg, .header .registration-modal-lg{
    outline: none;
    top: 20%;
}

.header .custom{
  background: #7ac2bb;
  text-align: center;
  padding: 1vw 1vw;
}

.header .btn{
  text-transform: uppercase;
  color:#fff;
  background: #29749e;
  border: 0 solid #000000;
  font-size: 1.3vw;
  padding:1.3vw 4vw;
}

.header input:-webkit-autofill {
    -webkit-box-shadow: 0 0 0px 1000px #fff inset;
}

.header input[type=checkbox], input[type=radio]{
  margin-top: 10px;
}

/*make the size of the checkbox bigger*/
.header input[type=checkbox]{
  -ms-transform: scale(2); /* IE */
 -moz-transform: scale(2); /* FF */
 -webkit-transform: scale(2); /* Safari and Chrome */
 -o-transform: scale(2); /* Opera */
 position: absolute;
  top: 165px;
left: 50px;
}

.header input[type=text]{
    margin-top: 10px;
    margin-bottom: 20px;
}

.header input[type=text], .header input[type=password]{
    padding:1vw 2vw;
    font-size: 1.3vw;
}

.header .label-styling{
    font-size: 1.3vw;
    margin-top: 20px;
}

.header .glyph{
    height:3.2vw;
    width:3.2vw;
}

.input:focus{
    color:#000;
}

/*Main*/
.main{
  color:#fff;
}

.main h1{
  padding-top: 7.44vh;
  font-weight:bold;
  text-transform: uppercase;
  font-size: 6vw;
}

.main h1:nth-child(2){
    padding-top:0;
    padding-bottom: 1.24vh;
}

.main h3{
  font-style: italic;
  font-size: 2vw;
}


/*Supporting*/
.supporting-1 .center, .header .center{
    text-align: center;
}

.supporting-1 .padding{
  padding:20px;
}

.supporting-1 .no-padding, .supporting-3 .no-padding, .supporting-2 .no-padding{
    padding-left: 0;
    padding-right: 0;
}

.supporting-1 a{
    font-size: 2vw;
    padding: 1.6vh 6.1vw;
    border:0;
    color:#fff;
    text-transform: uppercase;
    line-height: 2.5em;
}

.supporting-1 .dark-turq, .supporting-5 .row .dark-turq{
  background-color: #7ac2bb;
}

.supporting-1 .red{
  background-color: #e2464a;
}

.supporting-1 .dark-blue{
  background-color: #29749e;
}

.supporting-1 .supporting-2, .supporting-2, .supporting-4, .supporting-5{
  padding: 2.4vw 1.8vw;
}

.supporting-2 h1, .supporting-3 h1, .supporting-4 h1, .supporting-5 h1, .supporting-6 h1{
  text-transform: uppercase;
  font-size: 6vw;
  color: #4f5758;
}

.supporting-2 h3, .supporting-3 h3, .supporting-2 p, .supporting-3 p, .supporting-5 p, .supporting-8 p{
  color:#4f5758;
}

.supporting-2 h3, .supporting-3 h3{
  font-size: 2.2vw;
}

.supporting-2 p, .supporting-3 p{
  font-size: 1.4vw;
}

.supporting-3 .container-fluid, .supporting-4 .container-fluid, .supporting-5 .container, .supporting-2 .container-fluid, .supporting-6 .container, .container-out, .supporting-8 .container, .footer .container{
  text-align: center;
}

.supporting-2 .margin-20, .supporting-3 .margin-20{
  margin-bottom: 1.8vw;
}

.supporting-2 .article{
  background-color: #7ac2bb;
  padding: 22px 40px;
  text-align: left;
}

.supporting-3 .article{
  background-color: #7ac2bb;
  padding: 22px 40px;
  text-align: left;
}

.supporting-4 img{
  height: 20vh;
}

.supporting-4 .signature{
  text-transform: uppercase;
}

.supporting-4 p{
  font-size: 2vw;
}

.supporting-4 .media-body{
  text-align: left;
  padding-left: 1.8vw;
  vertical-align: middle;
}

.supporting-4 .margin-bottom, .supporting-8 .margin-bottom{
    margin-bottom: 3.7vh;
}

.supporting-4, .supporting-6, .supporting-8{
    background-color: #eef2f2;
}

.supporting-5 .btn{
    margin-top: 5vh;
}

.supporting-5 .two-margins{
  margin-top: 4.5vh;
  margin-bottom: 4.5vh;
}

.supporting-6, .supporting-8{
  padding:1.8vw;
}

.supporting-5, .supporting-7{
  background-color: #7ac2bb;
}

.supporting-7{
  padding:1.8vw;
}

.supporting-5 .field{
  text-align: left;
  padding-left: 0.92vw;
}

.supporting-5 .field-2{
    background-color: #fff;
    text-align: left;
    padding-left: 0.92vw;
    padding-top: 0.67vw;
    padding-bottom: 11.5vw;
}

.supporting-5 {
  font-size: 1.3vw;
}

.supporting-6 .container{
    width:75%;
}

.supporting-6 .article2{
  color: #4f5758;
  text-align: left;
}

.supporting-6 .article2 hr{
  border-top: 0.2vw solid #4f5758;
}

.supporting-6 .name{
  margin-top: 1vh;
  text-transform: uppercase;
  color:#e2464a;
}

.supporting-6 p, .supporting-7 p, .supporting-8 p, .footer p{
  font-size: 1.3vw;
}

.supporting-7 .container{
  padding-top: 2.75vw;
  padding-bottom: 2.75vw;
}

.supporting-7 .rubric{
  text-transform: uppercase;
}

.supporting-7 .slider-content-container{
  max-width: 800px;
  padding-right: 15px;
  padding-left: 15px;
  margin-right: auto;
  margin-left: auto;
}

.supporting-7 ol{
  margin-bottom: -7vh;
}

.supporting-7 .date{
    margin-top: 2.5vh;
}

.supporting-7 p{
    color:#fff;
}

.supporting-7 .carousel-inner{
  height: 25vh;
}

.supporting-8 .container{
  max-width: 50%;
  padding:2vw;
}

.supporting-8 .field, .supporting-5 .field{
  line-height: 2.5em;
  background-color: #fff;
}

.supporting-8 .btn, .supporting-5  .btn{
  color:#fff;
  background: #e2464a;
  border: 0 solid #000000;
  font-size: 1.3vw;
}

.supporting-8 a, .supporting-5  a{
  padding:1.375vw 6.875vw;
  text-transform: uppercase;
}


.container-out h1{
  text-transform: uppercase;
  font-size: 6vw;
  color: #4f5758;
  margin-top: 2.4vw;
  margin-bottom: 2vw;
}

/*Footer*/
.footer{
  color:#4f5758;
  padding: 2vw;
}

.footer p{
    margin-bottom: 0;
}

.footer span{
  text-transform: uppercase;
}
